<p>proyectos-component works!</p>

<div class="container">

    <h3>Formulario</h3>
  
    <form>
  
    <div class="row">
      <div class="col">
        <h4>Nombre</h4>
        <input type="text" name="nombr" [(ngModel)]="cuadroNombre">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Apellido</h4>
        <input type="text" name="apellid" [(ngModel)]="cuadroApellido">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Cargo</h4>
        <input type="text" name="carg" [(ngModel)]="cuadroCargo">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Salario</h4>
        <input type="number" name="salari" [(ngModel)]="cuadroSalario">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="submit" (click)="agregar()">Registrar</button>
      </div>
    </div>
    <br>
  
  </form>
  
  <app-empleado-hijo-c *ngFor="let empleado of empleados; let i = index" [empleadoLista]="empleado" [indice]="i"></app-empleado-hijo-c>
  
   
  
  </div>


<div style="text-align: center;">
<button class="btn btn-primary" (click)="volverHome()">Ir al inicio</button>
</div>

